@charset "utf-8";
/* CSS Document */

* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oleo Script Swash Caps', cursive;
}
a {
	outline: none !important;
}
/*-----Header & Banner Starts-------*/
.navbar-brand {
	font-family: 'Oleo Script Swash Caps', cursive;
	color: #ffffff;
	font-size: 26px;
    height: 70px;
    width: 300px;
    
}

.navbar-brand:hover {
	color: #EB233C;
}

.navbar-brand2 {
    margin-left: -47px;
    margin-right: -20px;
    
}

.navbar-brand2:hover {
	color: #EB233C;
}

.navbar-toggle {
	background-color: #fff;
    margin-top: 20px;
}
.navbar-toggle .icon-bar {
	background-color: #EB233C;
}
.banner {
	background-attachment: fixed;
	background-color: #645862;
	background-image: url(images/background.jpg);
	background-position: 57% 85%;
	background-repeat: no-repeat;
	background-size: 2500px 1665px;
	color: white;
	cursor: default;
	text-align: center;
	width: 100%;
	float: left;
}
.bg-overlay {
	padding: 220px 0 220px;
	background-color: RGBA(15, 5, 20, 0.84);
}
.bg-overlay2 {
	padding: 90px 0 220px;
	background-color: RGBA(15, 5, 20, 0.84);
}
.banner-text h2 {
	font-size: 50px;
}
.banner-text h2 span {
	color: #EB233C;
}
.banner-text p {
	font-size: 15px;
}
.banner-button {
	border: rgba(204, 204, 204, 0.18) 1px solid;
	padding: 10px 25px;
	color: #ccc;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	margin-top: 50px;
}
.banner-button:hover {
	background-color: #EB233C;
	text-decoration: none;
	color: #ccc;
}
.mynav {
	transition: all 0.8s ease-in;
	background: rgb(68, 51, 68) none repeat scroll 0% 0%;

}
.mynav li a {
	font-family: 'Work Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px;
    display: block;
    overflow: hidden;
}
.nav > li > a:focus, .nav > li > a {
	color: #E1DBDB;
    text-align: left;

    overflow-y: hidden;

    
}
.nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	background-color: #665566;
    background-size: contain;
	color: #fff;
	border-bottom: 2px solid #EB233C;
}
.navbar-nav > li > a {
	padding-top: 24px;
	padding-bottom: 20px;
/*    margin-right: -20px; --> */
    overflow: hidden;
}

.nav-button {
	padding: 2px 10px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 45px 45px 45px 45px;
	font-size: 15px;
	background-color: #EB233C;
	margin-top: -300px;
}
.nav-button:hover {
	text-decoration: none;
	color: #E6E6FA;
}
/*-----Header & Banner Ends-------*/

/*-----Features Starts-------*/
.features {
	padding: 100px 0px;
	float: left;
	width: 100%;
}
.icon-box {
	position: relative;
	width: 70px;
	height: 70px;
	margin: 0px;
	display: inline-box;
	border: rgba(204, 204, 204, 0.18) 1px solid;
	border-radius: 50%;
	padding: 15px !important;
    color: #EB233C;
	display: block;
	font-size: 30px;
	line-height: 40px;
	outline: 0 none;
	transition: all 0.3s ease 0s;

}
.icon-box i {
	line-height: 70px;
	font-size: 25px;
	color: #EB233C;
}
.feature-text {
	padding-left: 20px;
}
.feature-text h4 {
	color: rgb(68, 51, 68);
}

/*-----Features Ends-------*/

/*---Videos-----*/
video {
  height: auto;
  width: 100%;
    border-top-left-radius : 40px; 
    border-bottom-right-radius : 40px; 
    overflow: hidden; 

}

/*-----Portfolio or Work Starts-------*/

.portfolio {
	padding: 20px 0;
	background-color: rgba(235, 213, 235, 0.26);
	float: left;
	width: 100%;
    cursor: url(https://cur.cursors-4u.net/people/peo-8/peo943.cur), auto !important;
    
}
.portfolio-item {
	margin-bottom: 20px;
}

.img-portfolio {
	margin: 1px;
	width: 100%; 
    height: 100%;
	
}
.img-portfolio:hover {
	opacity: 0.85;
}
.portfolio h3 {
	margin-top: 0px;
	margin-bottom: 30px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
}
.view-more {
	padding: 10px 20px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 25px 25px 25px 25px;
	font-size: 15px;
	background-color: #EB233C;
	margin-top: 10px;
}
.view-more:hover {
	text-decoration: none;
	color: #ffffff;
}

/*-----Portfolio or Work Ends-------*/


/*-----Testimonials Starts-------*/
.testimonials {
	padding: 30px 0px;
	width: 100%;
    height: 100%;
	float: left;
}
.testimonials h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 25px;
}
.test {
	background-color: rgba(235, 213, 235, 0.26);
	padding: 20px 20px 20px;
	border-radius: 10px;
    cursor: url(https://ani.cursors-4u.net/movie/mov-2/mov158.cur), auto !important;
}
.item {
    text-align: center;
}
.test p {
	font-size: 14px;
	font-weight: 400;
    text-align: center;

}
.test i {
	padding: 0px 0px;
    
}
.test-img {
	margin-top: 10px;
    vertical-align: baseline;
}
.test-img img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid rgba(68, 51, 68, 0.46);
	display: inline-block;
    vertical-align: bottom;
}
.test-img p {
	display: inline-block;
	font-size: 15px;
	padding-left: 10px;   

}
.owl-theme .owl-controls .owl-page span {
	background-color: #EB233C !important;
}
/*-----Testimonials Ends-------*/


/*-----Call to action Starts-------*/
.call-to-action {
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: 300;
    font-size: 15px;
    background-position: 57% 90%;
	background-attachment: fixed;
	background-color: #645862;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: 2500px 1665px;
	color: white;
	cursor: default;
	text-align: center;
	width: 100%;
	float: left;
}
.call-overlay {
	padding: 20px 0px;
	background-color: RGBA(15, 5, 20, 0.84);
}
.subscribe-text {
	text-align: center;
}
.subscribe-text h3 {
	margin-top: 0px;
	margin-bottom: 15px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 25px;
	text-align: center;
}
.subscribe-button {
	padding: 10px 20px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 110px 165px 5px 15px;
	font-size: 15px;
	background-color: #EB233C;
	margin-top: 15px;
    cursor:no-drop;
}
.subscribe-button:hover {
	text-decoration: overline underline;
	color: #000000;
    font-size: 20px;
    background-color: #FF1493;
    border-radius: 5px 15px 113px 165px;
    border: 2px solid #04AA6D;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 5px rgba(0,255,0,0.24), 0 17px 50px 0 rgba(255,255,0,0.19);
}
/*-----Call to action Starts-------*/

/*-----About Starts-------*/
.about {
	padding: 50px 0px;
	width: 100%;
	float: left;
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat977.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat977.gif), auto !important;
}
.about h3 {
	margin-top: 0px;
	margin-bottom: 50px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 35px;
}
.about-text p {
	font-size: 15px;
	font-weight: 300;
}
.counter-item h5 {
	margin: 0px !important;
	font-family: 'Work Sans', sans-serif;
}
.timer {
	color: #EB233C;
	font-size: 50px;
	font-weight: 200;
}
.block {
	padding-left: 0px !important;
}
/*-----About Ends-------*/


/*-----Contact Starts-------*/
.contact {
	background-color: rgba(204, 204, 204, 0.15);
	padding: 20px 0px;
	float: left;
	width: 100%;
}
.contact h3 {
	margin-top: 0px;
	margin-bottom: 10px;
	border-bottom: 2px solid #EB233C;
	display: inline-block;
	line-height: 30px;
}
.contact-form {
	margin-top: 35px;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 2px;
	font-size: 14px;
	line-height: 1.42857;
	color: #242424;
	background-color: transparent;
	background-image: none;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	border-bottom: 2px solid #EB233C;
	resize: none;
	margin-top: 25px;
}
.form-control:hover, .form-control:focus {
	box-shadow: none;
	border-bottom: 2px solid #242423;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #242424 !important;
}
 input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
color: #242424 !important;
}
 input::-moz-placeholder, textarea::-moz-placeholder {  /* Firefox 19+ */
color: #242424 !important;
}
 input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: #242424 !important;
}
.contact-button {
	border: none;
	padding: 12px 25px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	border-radius: 20px 20px 20px 20px;
	font-size: 15px;
	background-color: #EB233C;
	margin-top: 30px;
}
.address {
	color: #242424;
	margin-top: 0px;
    margin-left: 20px;
}
.address h4 {
	color: #EB233C;
    margin-bottom: auto;
	font-size: 22px;
}
.address p {
	font-size: 16px;
	font-weight: 500;
}
.email i {
	color: #EB233C;
	padding-right: 10px;
	font-weight: 400;
	font-size: 16px;
    cursor: help;
}
.email {
	padding-top: 0px;
    cursor: help;
}
footer {
	padding: 15px 0;
	text-align: center;
	width: 100%;
	float: left;
}
footer span.copyright {
	line-height: 40px;
	text-transform: none;
}
footer ul.quicklinks {
	margin-bottom: 0px;
}
footer ul.quicklinks a {
	color: #EB233C;
	line-height: 40px;
	text-decoration: none;
}
ul.social-buttons {
	margin-bottom: -5px;
}
ul.social-buttons li a {
	background-color: #222;
	border-radius: 30%;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	outline: 0 none;
	transition: all 0.3s ease 0s;
	width: 40px;
    
 cursor: url(https://cur.cursors-4u.net/others/oth-6/oth516.ani), url(https://cur.cursors-4u.net/others/oth-6/oth516.png), auto !important;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	background-color: #EB233C;
    border-radius: 100%;
    
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
	outline: 0 none;
}


/*-----Contact Starts-------*/

@media (min-width:0px) and (max-width: 600px) {
.bg-overlay {
	padding: 180px 0 120px;
}
.banner-text h2 {
	font-size: 35px;
}
nav > li > a:focus, .nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a {
	border-bottom: none;
}
.features, .about, .portfolio, .contact, .testimonials {
	padding: 40px 0px;
    
}
}

/*--------Fontawesome icon-------*/

.stars {
    /* background-color: #645862; */
    vertical-align: top;
    display: inline-block;
    width: 93px;
    height: 14px;
    border: 0px solid black;
    margin-left: 0px;
    padding-bottom: 10px;
}

.fa-star{
    /* color: #FFFF00; */
    color: #EB233C;
    font-size: 13px;
    margin-bottom: 4px;
    /* stroke: black;
    stroke-width: 1px; */
}

.fa-star:hover {
  -webkit-animation: fa-flip 1s infinite linear;
  -moz-animation: fa-flip 1s infinite linear;
  -o-animation: fa-flip 1s infinite linear;
  animation: fa-flip 1s infinite linear;
    color: #FF8080;
}

.fa-star-half-stroke{
    /* color: #FFFF00; */
    color: #EB233C;
    font-size: 13px;
    margin-bottom: 4px;
    /* stroke: black;
    stroke-width: 1px; */
}

.fa-star-half-stroke:hover {
  -webkit-animation: fa-flip 1s infinite linear;
  -moz-animation: fa-flip 1s infinite linear;
  -o-animation: fa-flip 1s infinite linear;
  animation: fa-flip 1s infinite linear;
    color: #FF8080;
}